.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;


  input {
    width: 70%;
    margin: 20px 0;
    min-width: 260px;
    max-width: 360px;
    flex-basis: auto;
    font-size: 0.9em;
    padding: 10px 5px;
    text-align: center;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border: none;
    box-shadow: 0px 0px 7px 2px #818181;
    background: rgba(#fff, 0.7);
    color: #818181;
  }




}