@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap&subset=latin-ext");

*,
*::before,
*::after {
  box-sizing: border-box;
}



body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  background: linear-gradient(#e66465, #9198e5);
}

.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr;
  max-width: 800px;
  margin: 0 auto;
}