* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
} */

.main {
  height: 100vh;
  background-color: #ccc;
}

/* 

.main {
  display: grid;
  grid-template-rows: auto auto;
}

.form {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 250px;
  font-size: 25px;
  margin: 60px auto 20px;
  padding: 5px 5px;
  background: skyblue;
  border: solid black 2px;
  outline: none;
}

.date {
  background: skyblue
} */