.wrapper {
  display: grid;
  grid-template-rows: 1fr 20vh;
  text-align: center;


  &::before {
    content: "";
    width: 100vw;
    height: 2px;
    background: rgba(#fff, 0.5);
    position: absolute;
    left: 0;
  }
}